header, nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  padding: 1rem;
}

header {
  justify-content: space-between;
}

.logo {
  padding: 1rem;
  font-weight: bold;
  text-decoration: none;
}